[flake8]
# Using the black default line length of 88,
max-line-length = 88
extend-ignore =
    E402,
    D103,
    B007,
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    # B902 blind except Exception: statement
    # For now willing to ignore this as testing assorted
    # operating systems for the right exception is hard:
    B902,
